@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Globals */
:root {
    --color-primary: #fff;
    --color-secendory: #000;
    --bg-color-primary: #000;

    --btn-bg-primary: rgb(229 9 20);
}

/* For responsive images */
/* img {
    max-width: 100%;
    height: auto;
} */

/* new way */
img {
    max-inline-size: 100%;
    block-size: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li {
    border: 1px solid black;
    margin: 10px;
} */

/*

/* Headers */
/* .hgroup {}

.h1 {}  */

.h2 {
    font-size: clamp(1.75rem, 1rem + 4vw, 3rem);
    font-weight: 900;
}

.h3 {
    font-size: clamp(1.15rem, 1rem + 2vw, 1.5rem);
}

h2.nf-header {
    color: red;
    font-size: clamp(2rem, 5vw, 2.75rem);
    font-style: italic;
}


.nf-logo-svg {
    width: 100%;
    max-height: auto;
    fill: rgb(229, 9, 20);
}


/* Utilities */
.text-white {
    color: #fff;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
    font-weight: 400;
}

/* 16px */
.text-base {
    font-size: 1rem;
}

/* 24px */
.text-lg {
    font-size: 1.125rem;
}

/* 28px */
.text-xl {
    font-size: 1.25rem;
}


/* 28px */
.text-2xl {
    font-size: 1.5rem;
}

/* 32px */
.text-3xl {
    font-size: 1.875rem;
}

.lh {
    line-height: 1.6;
}

/* Text align */
.text-center {
    text-align: center;
}

/* Margin */
.mb-1 {
    margin-bottom: .75rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.15rem;
}


.mt-1 {
    margin-top: .75rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.15rem;
}


/* Flex */
.flex {
    display: flex;
}

.btn {
    color: #fff;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    border: none;
    outline: none;
    display: block;
}

.btn-lg {
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--btn-bg-primary);
}


.btn:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.btn-primary:hover {
    background: rgb(193, 17, 25);
}



/* Form field */
.select-form-wrapper {
    border: 1px solid white;
    border-radius: 3px;
    padding: .25rem .5rem;
    display: flex;
    gap: .25rem;
    background-color: inherit;
    color: inherit;
}

/* .form-select-icon {

} */

.nf-select-icon svg {
    vertical-align: middle;
}


/* .select-form-wrapper:focus {
    outline: 1px solid var(--color-primary);
    outline-offset: 1px;
} */

.form-select {
    background: inherit;
    color: var(--color-primary);
    border: none;
    /* font-size: larger; */
    font-weight: 700;
}


.form-select option {
    padding: 0.15rem 1.25rem;
    /* outline: none; */
    color: var(--color-secendory);

}


.form-control {
    background: rgb(35 28 18 / 55%);
}

.form-control-email {
    background-color: rgb(35 28 18 / 55%);
}


/* Section Border Div*/
div.section-border {
    height: 0.5rem;
    background-color: rgb(35 35 35);
}

/* Body */
body {
    font-family: 'Martel Sans', sans-serif;
    background-color: var(--bg-color-primary);
    color: var(--color-primary);
    /* line height */
    line-height: 1.5;


}

/* Header */
.nf-banner {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url('./assets/poster-2.jpg');
    background-position: center;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 5rem;
    filter: opacity(0.8);
    min-height: 43.75rem;
}

.nf-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 10rem);
    margin: 0 auto;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
}

/* div.nf-header-l {
 
} */

.nf-header-logo-container {
    margin-top: .5rem;
    margin-inline-start: .5rem;
    width: 9.25rem;
    height: 3rem;
}

/* .nf-header-logo {
    width: 100px;
    height: 100px;
    margin: 1rem 1rem 0;
} */

div.nf-header-r {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-inline-start: 1rem;
}

.nf-header-r .btn {
    padding: 0.40rem 1rem;
}



@media (max-width: 960px) {
    .nf-header {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        /* border: 1px solid red; */
        margin: 0;
        width: 90%;
    }

    /* .nf-header-r {

    } */

    .nf-header-logo-container {
        margin-top: .5rem;
        margin-inline-start: .5rem;
        width: 5.45rem;
        height: auto;
    }

    /* .nf-logo-svg {

    } */

}

/* Netflix Hero */
.nf-hero-container {
    margin: auto;
    text-align: center;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nf-hero-form-div {
    padding-inline: 1rem;
}

.nf-hero-form {
    display: flex;
    justify-content: center;
    gap: 1rem;

    flex: 0 1 85%;
    margin-inline: auto;
}


.nf-hero-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nf-hero-form>.form-input {
    flex: 2;
}

.form-control.form-control-email {
    width: 100%;
    opacity: 90%;
    padding: 1rem 1rem 1rem;
    border-color: #fff;
    color: var(--color-primary);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--color-primary);
}

.form-control.form-control-email::placeholder {
    font-size: inherit;
    font-weight: 400;
    color: var(--color-primary);
}

.form-control.form-control-email:focus {
    /* font-size: 0.875rem; */
    border: 1px solid var(--color-primary);
    outline: 1px solid var(--color-primary);
    /* outline-offset: 5px; */

}

.nf-hero-form button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    text-align: center;
}


@media (max-width: 605px) {
    .nf-hero-form {
        flex-direction: column;
    }

    .nf-hero-form button.btn {
        width: 10rem;
        align-items: center;
        margin: 0 auto;
        font-size: 1.15rem;
        font-weight: 700;
        padding: 1rem;
    }
}

/* main section */
.nf-main {
    background-color: var(--bg-color-primary);
}

.section {
    max-width: calc(83.33333333333334% - 6rem);
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-block: 4.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-wrapper {
    display: flex;
    align-items: center;
    /* z-index: 1; */
}



.section-box-heading p {
    font-size: 1.5rem;
    font-weight: 400;
}

.section-box-1 {
    flex: 1;
}

.section-box-2 {
    flex: 1;
}

/* Section 1 video over png */
.voi-wrapper {
    position: relative;
    z-index: 1;
}

.video-wrapper {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.section-1-video-wrapper {
    max-width: 73%;
    max-height: 54%;
    top: 46%;
    left: 50%;

}

.section-3-video-wrapper {
    max-width: 62%;
    max-height: 47%;
    top: 35%;
    left: 50%;
}

/* Section 2 Card  */
.wrapper {
    position: relative;
}

.section-2-card {
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, -50%);
}

.card {
    display: flex;
    gap: 0.5rem;
    background-color: var(--bg-color-primary);
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    border: 2px solid rgb(90, 90, 90);
    box-shadow: rgb(0, 0, 0) 0px 0px 2em 0px;
    width: 50%;
    min-width: 15rem;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

/* .card-box {
    flex: 0;
} */

.card .card-img {
    inline-size: 4rem;
    height: auto;
}

.card-box.card-box-2 p {
    color: #0071eb;
}

.card-box.card-box-3 {
    /* flex: 1; */

    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif') center center no-repeat;
    background-size: 100%;
}


@media(max-width: 1200px) {

    /* .section {
    } */
    .section-wrapper {
        flex-direction: column;
        text-align: center;

    }

    .section-box-heading h2 {
        font-size: 1.75rem;
    }

    .section-box-heading p {
        font-size: 1.15rem;
        font-weight: 400;
    }

    @media(max-width: 768px) {
        .section-2-card {
            bottom: -10%;
        }

        .card {
            width: 60%;
            min-width: 15rem;
        }
    }

}

/* Question answer section */
section.section-qa {
    /* border: 2px solid yellow; */
    padding-block: 4.5rem;
}

@media(max-width: 1280px) {
    section.section {
        max-width: calc(100% - 5vw);
    }

    section.section-qa {
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

.qa-section-wrapper {
    /* width: 100%; */
    flex: 1;
}


.nf-qa-list {
    background-color: rgb(45 45 45);
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    text-align: left;
    overflow: hidden;

}

.accordion-btn {
    width: 100%;
    background-color: rgb(45 45 45);
    border: none;
    color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.accordion-btn:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(65, 65, 65);
}

.nf-qa-answer {
    padding: 1.5rem;
    border-top: 1px solid black;
    transition: display cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* according toggle */
.nf-qa-answer[data-is-open="false"] {
    display: none;
}

.nf-qa-answer[data-is-open="true"] {
    display: block;
}

/* email form Q&A section */
.qa-form-container {
    margin-block-start: 2.9125rem;
}

.qa-form-wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 65rem;
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.form-wrapper .form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex: 0 1 80%;
    max-width: 36.625rem;
    margin: 1rem auto 0;
}

.nf-form .form-control-wrapper {
    flex: 2 0 0;
}

.nf-form .form-control-email {
    width: 100%;
}

.qa-form .btn {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px) {
    .form-wrapper .form {
        flex-direction: column;
    }

    .qa-form .btn {
        align-self: center;
    }
}

/* Footer */
.nf-footer {
    padding-inline: 3rem;
    margin-block: 4.5rem;
    width: calc(83.33% - 6rem);
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: rgba(255, 255, 255, 0.7);
}

.nf-footer-wrapper {
    display: flex;
    justify-content: center;
}

.nf-contact {
    font-size: 1rem;
}

.nf-footer-ul [data-uia="footer-link"],
.nf-contact a {
    color: rgba(255, 255, 255, 0.7);
    /* text-decoration: none; */
}

.nf-footer-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .15rem;
}

.nf-footer-ul .nf-footer-li {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: .75rem;
}

/* Footer Language Select */
.select-container {
    display: flex;
}

.footer-select-wrapper {
    /* display: flex; */
    margin: 0;
}

@media(max-width: 1280px) {
    .nf-footer {
        width: 100%;
        padding-inline: 2rem;
    }

    @media(max-width: 768px) {
        .nf-footer-ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: .15rem;
            margin-block-end: 1rem;
        }

    }
}